# Configuración AWS S3
aws_access_key_id=tu_access_key_aqui
aws_secret_access_key=tu_secret_key_aqui
aws_session_token=tu_session_token_aqui_si_es_necesario
AWS_REGION=eu-west-1

# Configuración S3
S3_BUCKET_NAME=rgpdintcomer-des-deltasmile-servinform
S3_SOURCE_PREFIX=Recepcion/Muestreo/
S3_DESTINATION_PREFIX=Recepcion/Muestreo/Resultado/

# Configuración del servidor
PORT=5000
