@font-face {
  font-family: "FSEmericWeb";
  src: url("../assets/fonts/FSEmericWeb-Thin.woff") format("woff2"),
    url("../assets/fonts/FSEmericWeb-Thin.woff2") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "FSEmericWeb";
  src: url("../assets/fonts/FSEmericWeb-Light.woff") format("woff2"),
    url("../assets/fonts/FSEmericWeb-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FSEmericWeb";
  src: url("../assets/fonts/FSEmericWeb-SemiBold.woff") format("woff2"),
    url("../assets/fonts/FSEmericWeb-SemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
