html,
body {
  padding: 0;
  margin: 0;
  font: 14px "FSEmericWeb", sans-serif;
  color: $primary;

  * {
    /* scroll */
    ::-webkit-scrollbar {
      background-color: transparent;
      border-radius: 10px;
      width: 5px !important;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $matiz5 !important;
        border-radius: 10px;
        border: 0;
    }
  }
}

.MuiTypography-root {
  font-family: "FSEmericWeb", sans-serif !important;
}

* {
  box-sizing: border-box;
}

textarea {
  font-family: "FSEmericWeb", sans-serif;
}

strong,
b {
  font-weight: 500;
}

.inbenta-bot__bubble .content__text, .inbenta-bot__chat .content__text p strong{
  font-weight: 600 !important;
}

/* remove arrows in input number */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

/* Fix autofilll chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: $primary !important;
  /*-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px rgba(255, 255, 255,1);
  quitado para el autocomplete de chrome del login
  */
  -webkit-box-shadow: none;
}
