h1 {
  font-weight: 200;
  font-size: 36px;
  line-height: 40px;
  color: $primary;
  margin: 35px 0 25px 0;
  @media #{$mobile} {
    padding-right: $base-mobile * 2;
    padding-left: $base-mobile * 2;
    font-size: 34px;
  }
}

h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  color: $primary;
  margin: 0 0 $base-desktop * 3 0;
  &.thin {
    font-weight: 200;
    margin: 0 0 $base-desktop * 2 0;
  }
  @media #{$mobile} {
    line-height: normal !important;
  }
}

h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $primary;
  margin-bottom: $base-desktop * 2;
  &.thin {
    font-weight: 200;
  }
}

h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: $base-desktop * 2;
  color: $primary;
  &.thin {
    font-weight: 200;
  }
}

h5 {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  color: $primary;
  &.thin {
    font-weight: 200;
  }
}

h6 {
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  color: $primary;
  &.thin {
    font-weight: 200;
  }
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  &.orange {
    color: $secondary;
    text-decoration: none;
    font-weight: 500;
  }
}

Link,
.MuiLink-root {
  color: $primary;
  font-weight: 500;
  &.orange {
    color: $secondary;
    text-decoration: none;
  }
  &.disabled {
    opacity: 0.4;
  }
}

small {
  font-size: 11px;
  font-weight: 500;
}
